In [2]:
import os
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [38]:
dataset_path = r'C:\Users\miles\Projects\datasets\ikegaya\DATA_001.txt'

In [39]:
os.getcwd()

'C:\\Users\\miles\\Projects\\thesis_notebooks\\2023.09.20 - Datasets'

In [48]:
df = pd.read_csv(dataset_path,delimiter='\t')

In [49]:
df.columns

Index(['Cell No.   X      Y    N_Spikes  Frames'], dtype='object')

In [50]:
df

              Cell No.   X      Y    N_Spikes  Frames
0   Cell#001  278.8  271.7   097 :   123  138  193...
1   Cell#002  358.6  268.3   064 :   28  123  451 ...
2   Cell#003  361.5  261.6   011 :   1273  5052  5...
3   Cell#004  316.9  258.6   008 :   1257  1486  5...
4   Cell#005  281.7  242.1   031 :   296  411  579...
..                                                ...
57  Cell#058  043.3  051.1   142 :   29  68  85  2...
58             Cell#059  132.5  049.4   001 :   8616
59  Cell#060  154.5  040.0   013 :   318  781  861...
60  Cell#061  093.0  032.9   154 :   15  79  263  ...
61  Cell#062  019.2  011.7   041 :   64  94  478  ...

[62 rows x 1 columns]